@import "./variables.scss";

.form-part{
    text-align: center;
    margin-top: 160px;
    padding: 80px 0;
    color: #fff;
    background-color: $siyohrang;
    p{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        position: relative;
        display: inline-block;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: rgba(210, 210, 213, 0.1);
            top: 50%;
            left: -40px;
            @media(max-width:350px){
                display: none;
            }
        }
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: rgba(210, 210, 213, 0.1);
            top: 50%;
            right: -40px;
            @media(max-width:350px){
                display: none;
            }
        }
    }
    h1{
        font-size: 36px;
        line-height: 50px;
        margin-top: 15px;
        font-weight: 400;
    }
    form{
        margin-top: 25px;
        justify-content: center;
        input{
            background-color: transparent;
            outline: none;
            border: 1px solid #2F303E;
            color: #fff;
            padding: 18px;
            width: 350px;
            margin: auto;
            @media(max-width:520px){
                width: 100%;
                margin-bottom: 15px;
            }
        }
        button{
            padding: 18px 25px;
            outline: none;
            background-color: transparent;
            border: 1px solid #2F303E;
            color: #fff;
            transition: 0.3s;
            margin: auto;
            @media(max-width:520px){
                width: 100%;
            }
            &:hover{
                background-color: #fff;
                color: $lightblack;
            }
        }
    }
}